* {
  box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    min-width: 320px;
  }
  .global-wrap {
    width: 100%;
  }
  @media screen and (min-width:320px) {
  .header-bg-wrap {
    width: 90%;
    margin: 0 auto;
  }
  .bookpage-header-wrap {
    background-color: #11255a;
  }
  .bookpage-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }
  .bookpage-header-buttons {
    display: flex;
    align-items: center;
  }
  .bookpage-bth-header {
    display: block;
    box-sizing: border-box;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    color: white;
    padding-left: 20px;
  }
  .bookpage-search {
    margin: 30px 0;
    text-align: center;
  }
  .search-book {
    box-sizing: border-box;
    padding-left: 15px;
    width: 165px;
    height: 40px;
    margin-right: 9px;
    margin-top: 9px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 16px;
    color: gray;
  }
  .search-button {
    background-color: #f8ba0a;
    width: 62px;
    height: 42px;
    margin-top: 9px;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
  }
  .search-button:hover {
    font-weight: 600;
  }
  .bookpage-book-list {
    width: 95%;
    margin: 0 auto;
  }
  .bookpage-book-item {
    height: 80px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .bookpage-book-item:hover {
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.3);
  }
  .bookpage-book-item-link {
    display: flex;
    height: 100%;
    padding-left: 10px;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width:768px) {
  .header-bg-wrap {
    width: 85%;
    margin: 0 auto;
  }
.bookpage-book-item {
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .search-book {
    width: 350px;
    height: 40px;
    margin-right: 40px;
    margin-top: 9px;
  }
  .search-button {
    width: 100px;
    height: 42px;
    margin-top: 9px;
  }
  .bookpage-book-list {
    width: 90%;
  }
}

/*select-class-styles*/

.classes-select, .language-select, .subject-select{
    box-sizing: border-box;
    padding-left: 15px;
    width: 165px;
    height: 40px;
    margin-right: 9px;
    margin-top: 9px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    font-size: 16px;
    color: gray;
    background-color: white;
}

/*book-modal-page*/

@media screen and (min-width:240px) {
    .book-item {
        width:100%;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        margin-top: 20px;
    }
    .book-item-img-wrap {
        margin-bottom: 20px;
    }
    .book-item-description-name {
        font-size: 150%;
    }
    .book-item-description-author {
        font-weight: 600;
    }
    .book-item-description-name,
    .book-item-description-author,
    .book-description {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .book-description {
        text-align: justify;
        white-space: pre-line
    }
    .btn-buy {
        margin: 20px 0;
        background-color: #f8ba0a;
        height: 40px;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .btn-buy:hover {
        background-color: #11255a;
        border-color: white;
        color: white;
    }
}
@media screen and (min-width:768px) {
    .book-item-wrap {
        display: flex;
        padding: 20px;
    }
    .book-item-description-name,
    .book-item-description-author,
    .book-description {
        margin-bottom: 20px;
    }
    .book-item-description-name,
    .book-item-description-author {
        text-align: left;
    }
}
@media screen and (min-width:1024px) {
    .book-item-wrap {
        padding: 30px;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s

}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 2px 16px;
}

#ranok-logo {
    width: 114px;
    height: 100px;
}

#book-logo {
    width: 200px;
    height: 300px;
}

.book-name-item {
    float: left;
    width: 65%

}

.book-author-item {
    float: right;
    width: 35%;
    text-align: right;
}
.active-category {
    font-weight: bold;
    font-size: 19px;
    color: #f8ba0a;
}