
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  min-width: 320px;
}

.hide {
  display: none;
}
.show {
  display: initial;
}


@media screen and (min-width:320px) {
  .global-wrap {
    width: 100%;
  }
  .bg-dark {
    background-color: #11255a;
  }
  .bg-container {
    height: 100%;
    background-image: url('../img/bg_header.jpg');
    background-size: cover;
  }
  .bg-filter {
    height: 100%;
    background-color: rgba(12, 29, 81, 0.8);
  }
  .btn {
    display: block;
    height: 55px;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 27px;
  }
  .light-btn {
    background-color: #f8ba0a;
  }
  .text-white {
    color: white;
  }
  .main-header-size {
    font-size: 60px;
  }
  .main-text-size {
    font-size: 30px;
  }
.list-menu {
  display: none;
}
.header-mobile-menu-ico {
  font-size: 30px;
  color: white;
}
.block-center {
  width: 95%;
  margin: 0 auto;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-header {
  font-weight: 600;
}
.header-title-mg-bottom {
  margin-bottom: 40px;
}
.btn {
  width: 100%;
  box-sizing: border-box;
}
.header-btn .btn {
  margin-bottom: 20px;
  color: black;
  border: 1px solid transparent;
}
.header-btn .btn:hover {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.header-numbers {
  display: none;
}
.classes-block {
  padding: 80px 0;
}
.classes-block-wrap {
  text-align: center;
}
.classes-block-header {
  margin-bottom: 80px;
}
.class-item-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  max-height: 500px;
}
.class-item {
  width: 37%;
  min-height: 60px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.class-item-link {
  display: block;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
  font-size: 36px;
  color: black;
}
.books-block-wrap {
  text-align: center;
}
.books-item-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.books-block-header {
  margin-bottom: 80px;
}
.btn-buy {
  height: 58px;
  background-color: #f8ba0a;
  border: none;
  border-radius: 30px;
}
.footer-block {
  padding: 20px 0;
}
.footer-content {
  width: 90%;
  margin: 0 auto;
}
.footer-content li {
  margin-bottom: 20px;
  color: white;
  line-height: 150%;
}
.yu {
  margin-right: 10px;
}
}
@media screen and (min-width:768px) {
  .block-center {
    width: 90%;
    margin: 0 auto;
}
.flex-header {
  margin-bottom: 40px;
}
.main-header-size {
    font-size: 80px;
  }
.header-title-mg-bottom {
  margin-bottom: 60px;
}
  .header-menu {
	  margin-top: 35px;
    display: flex;
  }
  .list-menu {
	padding-top: 25px;
    display: flex;
  }
  .list-menu-item {
    line-height: 14px;
    margin-left: 30px;
  }
  .list-menu-item a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-decoration: none;
    color: white;
  }
  .menu-ico {
    display: none;
  }
  .header-titles {
    margin-bottom: 90px;
  }
  .header-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
  .header-btn .btn {
    width: 25%;
    margin-bottom: 0;
  }
  .class-item-wrap {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    flex-direction: row;
    max-height: 500px;
  }
  .class-item {
    width: 5%;
  }
  .class-item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  }
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
  }
  .footer-content li {
    width: 50%;
  }
  .footer-content p {
    line-height: 2;
  }
  .social {
    padding-top: 20px;
  }
  .yu:hover,
  .fb:hover {
    color: #f8ba0a
  }
}
@media screen and (min-width:1024px) {

.main-header-size {
    font-size: 100px;
  }
.flex-header {
  margin-bottom: 50px;
}
.header-title-mg-bottom {
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 200px;
}
  .header-content {
    display: flex;
    justify-content: space-between;
  }
  .header-numbers {
    display: block;
    color: white;
  }
  .header-titles {
    margin-bottom: 140px;
}
.header-titles p {
  font-size: 150%;
}
.main-header {
  font-size: 100px;
  line-height: 1.7;
}
  .numbers {
    margin-bottom: 50px;
  }
  .num {
    font-size: 26px;
  }
  .num-describe {
    margin-top: 15px;
  }
  .header-btn {
    margin-bottom: 140px;
}
.footer-content p {
  line-height: 2.5;
}
  .footer-content {
    justify-content: space-between;
  }
  .footer-content li {
    width: auto;
  }
    
}
@media screen and (min-width:1280px) {
.flex-header {
    margin-bottom: 50px;
}
.block-center {
    width: 80%;
}
.book-item {
    margin-right: 15px;;
}
}
@media screen and (min-width:1440px) {
  .block-center {
    width: 70%;
  }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
#ranok-logo{
  width: 114px;
  height: 100px;
}

.licens-content {
  overflow: auto;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.1);
}